html{
    position: relative;
    min-height: 100%;
    min-width: fit-content;
}

.page_header{
    background-color: #C2515C;
    min-width: fit-content;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page_header h1, .page_header h1 a, .page_header h1 a:visited, .page_header h1 a:active{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

/* .navbar-brand{
    color: #C2515C;
    font-size: 36pt;
    text-decoration: none;
} */
.content-container{
    position: relative;
    min-width: fit-content;
    margin-left: 70px;
    margin-top: auto;
    /* padding: 20px 20px 40px; */
}

h1, h2{
    font-family: 'Lobster', cursive;
}

.date{
    color: brown;
}

.save{
    float: right;
}

.posts-form textarea, .posts-form input{
    width: 70%;
}

.top-menu, .top-menu:hover, .top-menu:visited{
    color: white;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.posts{
    margin-left: 00px;
    margin-bottom: 70px;
    padding: 20px 20px 20px 40px;
}

.post_form{
    margin-left: 20px;
    margin-bottom: 70px;
    padding: 20px 20px 20px 40px;
}
.new_post{
    margin-left: 20px;
    margin-bottom: 70px;
    padding: 20px 20px 20px 40px;
}
.posts h2 a, .posts h2 a:visited{
    color: black;
}